[submodule "public/ServiceLogos"]
	path = public/ServiceLogos
	url = https://github.com/SAWARATSUKI/ServiceLogos
[submodule "public/ProgrammingVTuberLogos"]
	path = public/ProgrammingVTuberLogos
	url = https://github.com/Aikoyori/ProgrammingVTuberLogos
[submodule "public/CuteVtubingThing"]
	path = public/CuteVtubingThing
	url = https://github.com/murimurikyu/CuteVtubingThing
